.nounderline:hover {
    text-decoration:none;
}


.pic {

    height: 170px;
    border-radius: 7px;
    position:relative;
    margin-top: 30px;
}
.pic h2{
    position: absolute;
    bottom: 0;
   
}

.title{
    padding: 10px;
    padding-top: 100px;
    font-size: 24px;
}
.desc {
    font-size: 14px;
    padding: 10px;
    color: grey;
   
}

.navbar {
    margin-bottom: 0px;
}
.openapp {
    float:right;
    clear:left;
}
/*Welcome page*/
#welcome {
    text-align:center;
    color: #3E454C;
    background-color: #FF7F66;
    padding-top: 150px;
}
.welcome {
    font-size:55px;
}

.welcome-input {
    font-size: 22px;
    background-color: #FFF6E5;
    color: #3E454C;
    border: 4px solid #FFFCF7;
    padding: 5px 10px;
    box-shadow: 2px 2px 8px #444;
}
.welcome-input:focus {
    outline:none;
}

/*Validation*/
#validation {
    margin-top: 80px;
}

#validation form {
    padding: 20px 30px;
}

/*Currency Convertor*/
#currency {
    margin-top:100px;
}

/*Todo App*/
.todocontainer {
    margin: 80px auto 0px;
    max-width: 600px;
}
#todo ul {
    padding-left: 0px;
}
#todo ul i span {
    float: right;
}

.glyphicon-ok, .glyphicon-repeat, .glyphicon-trash {
    color: #ddd;
}

.glyphicon-ok:hover {
    color: #12c700;
    cursor: pointer;
}

.glyphicon-repeat:hover {
    color: cornflowerblue;
    cursor: pointer;
}

.glyphicon-trash:hover {
    color: red;
    cursor: pointer;
}