<!DOCTYPE html>
<html>
<head>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/Style.css" rel="stylesheet" />
    <title>Angular Js App</title>
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Controller/Todo.js"></script>
    <meta charset="utf-8" />
</head>
<body>
    <div class="">
        <div class="navbar navbar-default">
            <div class="navbar-brand">
                <a class="nounderline" href="Index.html">AngularJS Examples</a>
            </div>
        </div>
    </div>
    <div class="container" ng-app="TodoApp" ng-controller="TodoCtrl">
        <div class="panel panel-warning">
            <div class=panel-heading>
                <h3 class="text-center">Todo App</h3>
            </div>
            <div class="panel-body col-sm-offset-2 col-sm-8">
                <form>
                    <div class="col-sm-12">
                        <label for="form1">Description</label>
                        <input type="text" id="form1" class="form-control taskName" placeholder="What do you need to do?" ng-model="newTask" />                       
                    </div>
                    <div class="">
                        <div class="col-sm-6">
                            <label for="category">Category</label>
                            <select id="category" class="form-control taskCategory" ng-options="obj.name for obj in categories" ng-model="newTaskCategory">
                                <option class="disabled" value="">Choose a category</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="dueDate">Due Date</label>
                            <input type="date" class="form-control taskDate" id="dueDate" ng-model="newTaskDate" />
                        </div>
                    </div>
                    <div class="center-block col-sm-12">
                        <button class="btn btn-primary taskAdd" ng-click="addNew()"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add Task</button>
                        <button class="btn btn-danger taskDelete" ng-click="deleteTask()"><span class="glyphicon glyphicon-trash">&nbsp;</span>Delete Tasks</button>
                    </div>
                </form>
                <ul class="tasklist">
                    <li class="taskItem" ng-repeat="taskItem in taskItem track by $index" ng-model="taskItem">
                    <input type="checkbox" class="taskCheckbox" ng-model="taskItem.complete" ng-change="save()" />
                    <span class="complete-{{taskItem.complete}}">{{taskItem.description}}</span>
                    <span class="category-{{taskItem.category}}">{{taskItem.category}}</span>
                    <strong class="taskDate complete-{{taskItem.complete}}"><span class="glyphicon glyphicon-calendar"></span>{{taskItem.date | date: 'mediumDate'}}</strong>
                    </li>
                </ul>
            </div>

        </div>
    </div>
  
 
</body>
</html>
